.da-slider {
	width: 100%;
	height: 520px;
	position: relative;
	overflow: hidden;
	-webkit-transition: background-position 1s ease-out 0.3s;
	-moz-transition: background-position 1s ease-out 0.3s;
	-o-transition: background-position 1s ease-out 0.3s;
	-ms-transition: background-position 1s ease-out 0.3s;
	transition: background-position 1s ease-out 0.3s;
	text-align: center;
}

.da-slide {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	text-align: left;
	font-family: 'Microsoft YaHei';
}

.da-slide h2, .da-slide p, .da-slide .da-link, .da-slide .da-img {
	position: absolute;
	opacity: 1;
}

.da-slide h2 {
	color: #FFFFFF;
	width: 80%;
	top: 105px;
	white-space: nowrap;
	z-index: 10;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	font-weight: 600;
	text-align: center;
	font-family: 'Microsoft YaHei';
	font-size: 2.5em;
}

.da-slide h2>img {
	vertical-align: middle;
	width: 12px;
	height: 12px;
	margin: 10px;
}

.da-slide p {
	top: 178px;
	color: #FFFFFF;
	font-size: 1.2em;
	height: 83px;
	overflow: hidden;
	font-family: 'Microsoft YaHei';
	line-height: 1.9em;
	text-align: center;
	width: 53%;
	margin: 0 10em;
}

.da-slide .da-link {
	top: 308px;
	display: inline-block;
	color: #FFF;
	font-size: 1.2em;
	background: #91A8AE;
	padding: 17px 3.5em;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	margin: 0em 20em;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.da-link:hover {
	background: #62919C;
}